@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;

x-cloak {
    display: none;
}

@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
}

.btn-brand {
    background-color: #fc7d14;
    color: #fff;
}

.btn-dark {
    background-color: #0f0f10;
    color: #fff;
}

.btn-dark:hover {
    background-color: #1a1a1b;
}

.btn-brand:hover {
    background-color: #f96e0b;
}

.btn {
    box-shadow: none;
}
