@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@tailwind base;

x-cloak {
    display: none;
}

@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 5%;
        --muted: 0 0% 95%;
        --muted-foreground: 0 0% 30%;
        --primary: 24 80% 50%;
        --primary-foreground: 24 80% 60%;
        --border: 0 0% 70%;
        --accent: 0 0% 96%;
        --accent-foreground: 0 0% 9%;
        --navbar: 0 0% 5%; 
        --navbar-muted: 0 0% 20%; 
        --navbar-foreground: 0 0% 90%;
    }
    
    body {
        font-family: "Rubik", sans-serif;
    }
}